# Python Interview Questions

## Python List
- General Purpose
- Most widly used data struct
- Grow and shrink size as needed
- Sequence Type
- Sortable

## Tuple
- Immutable(can't add/change)
- Useful for fixed data
- Faster than Lists
- Sequence type

## Set
- Store non-duplicate items
- Very fast access vs Lists
- Math Sets ops(union, intersect)
- Unordered

## Dict
- Key/Value pairs
- Associative array, like Java Hash Map
- Unordered

## Sequences
- Indexing
- Slicing
- Adding/concat
- Multiplying
- in/in not
- Iterating
- len(seq1)
- min(seq1)
- max(seq1)
- sum(seq1[1:3])
- sorted(list1)
- seq1.count(item)
- seq2.index(item)

# Variables

1. How is char, integer, float and a string variable created and printed in python

In [6]:
def variables():
	name = 'Sawani Soman'#string
	age = 25 #int declaration
	fees = 22.5 #float

	print(name)
	print(age)
	print(fees)

	a = b = c = 1 #variable assignment method 2
	print(c)

	a,b,c = 22, 'Sawan', 22.5 #variable assignment method 3
	print(a)
	print(b)
	print(c)


variables()

Sawani Soman
25
22.5
1
22
Sawan
22.5

In [7]:
#result is called variable as it is defined inside the function
#const1, const2: called as constants, as declared ouside the function
def addition(p1,p2): #parameters are passed
    result = p1+p2
    return result

const1 = 20
const2 = 40
print(addition(const1,const2)) #arguments are passed

60

# Tuples

 2.Create a Tuple with values belonging to a single datatype. print the values

In [17]:
#Empty tuple
tuple_empty = ()
print(tuple_empty)

()

In [8]:
single_dataType = (2,4,6,8,9)
print(single_dataType)

(2, 4, 6, 8, 9)

3.Create a Tuple with values belonging to mixed datatypes. print the values

In [10]:
mixed = (2, 'Sawani', True)
print(mixed)

(2, 'Sawani', True)

4.Create a Tuple which contains the following:  
    - a string  
    - a Sub List of values belonging to a single data type  
    - a Sub Tuple with values belonging to a single data type

In [16]:
mixed_version = ("Sawani Soman", (2,4,6,8), [22,44,55,66]) #tuple declaration with string, sub list and sub tuple
print(mixed_version)
mixed_version[0]
mixed_version[1][2]
mixed_version[2][1]
#mixed_version[2][4]  ---> it will show error list index out of range

('Sawani Soman', (2, 4, 6, 8), [22, 44, 55, 66])

44

 5.Concept of tuple packing  
 6.Explain the concept of Tuple Unpacking

In [18]:
tuple_packing = 3.14, "Sawani", True #packing can be done without using brackets or with round brackets
print(tuple_packing)

(3.14, 'Sawani', True)

In [21]:
tuple_unpack1,tuple_unpack2,tuple_unpack3 = tuple_packing #unpacking the tuple
print(tuple_unpack1)
print(tuple_unpack2)
print(tuple_unpack3)

3.14
Sawani
True

7.Define a tuple which contains a string value. When queried, the tuple should be of  type 'class str‘.

In [26]:
tuple_string = ("Sawani") #when we declare only one element in the tuple
print(type(tuple_string))

<class 'str'>

8.Define a tuple which contains a string value. When queried, the tuple should be of  type 'class tuple‘.

In [27]:
tuple_string = ("Sawani", "Omkar", "Mayur") #when we declare multiple elements in the tuple
print(type(tuple_string))

<class 'tuple'>

In [28]:
tuple_string = "Sawani","Omkar", "Soman" #brackets are not needed/optional
print(type(tuple_string))

<class 'tuple'>

9.Can we define a tuple with out the conventional usage of the parenthesis?   
Ans: Yes

10.Given a tuple:  
    my_tuple = ('p','z','r','q','i','t’), If we print my_tuple[6], does it print '0', "" or does it throw an error.

Ans: Error, tuple index out of range

11.Given a tuple:
    my_tuple = ('p','z','r','q','i','t’), If we print my_tuple[2.0], does it print 'r' or will it throw an error

In [34]:
my_tuple = ('p','z','q','r','s')
print(my_tuple[2.0])   #error

TypeError: tuple indices must be integers or slices, not float

12.Given a tuple:
   my_tuple = ('p','z','r','q','i','t’)    
   print 't' and 'p' parsing from the other side of the tuple

In [35]:
my_tuple = ('p','z','q','r','s','t')
print(my_tuple[-1])

t

In [36]:
print(my_tuple[-6])

p

13.Given a tuple:
    my_tuple = ('a','l','g','o','r','i','t','h','m')   
    Using the concept of slicing, print - 'l', 'g', 'o‘

In [37]:
my_tuple = ('a','l','g','o','r','i','t','h','m')
print(my_tuple[1:4])

('l', 'g', 'o')

14.Given a tuple:
    my_tuple = ('a','l','g','o','r','i','t','h','m')   
    Using the concept of slicing, print – ‘a', ‘l’

In [38]:
my_tuple = ('a','l','g','o','r','i','t','h','m')
print(my_tuple[0:2])

('a', 'l')

15.Given a tuple:
    my_tuple = ('a','l','g','o','r','i','t','h','m')   
    Using the concept of slicing, print – ‘h', ‘m’

In [39]:
my_tuple = ('a','l','g','o','r','i','t','h','m')
print(my_tuple[7:])

('h', 'm')

16.Given a tuple:
    my_tuple = ('a','l','g','o','r','i','t','h','m')   
    Using the concept of slicing, print the whole tuple

In [40]:
my_tuple = ('a','l','g','o','r','i','t','h','m')
print(my_tuple[:])

('a', 'l', 'g', 'o', 'r', 'i', 't', 'h', 'm')

17.Given a tuple:
    my_tuple = ('a','l','g','o','r','i','t','h','m')   
    - delete the element at the 3rd index, print the tuple    
    - delete the whole tuple

In [43]:
my_tuple = ('a','l','g','o','r','i','t','h','m')
del my_tuple[2:]

TypeError: 'tuple' object does not support item deletion

18.Define a tuple having a list of 2 integers in it.
   modify the first element in the list and print the Tuple

In [4]:
my_tuple = ([2,3],6)
my_tuple[0][1] = 4
print(my_tuple)

([2, 4], 6)

19.Can tuples be reassigned?
Ans: yes, because they are immutable
In python 2 using del, it was possible to delete the tuple, in python 3.6, we cannot delete tuple

20.Using print statement do the following:    
    - output the concatenation of two tuples    
    - using an example tuple in the print statement, print the word 'World' 3 times

In [45]:
print((2,3) + (3,4))

(2, 3, 3, 4)

In [53]:
print(("World",)*3)

('World', 'World', 'World')

21.Check whether the given element is present in a tuple or not

In [47]:
my_tuple = ("Sawani", "Omkar", 33, 44)
print("Sawani" in my_tuple)

True

22.Write a program in 2 lines:
     Using a for loop and a tuple to print the below:    
     hello earth    
     hello mars

In [52]:
for name in ('earth', 'mass', 'string'):
    print('hello', name)

hello earth
hello mass
hello string

23.Can we convert tuples to lists and vice versa ?

In [49]:
message = "Python is amazing"
print(list(message))

['P', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'a', 'm', 'a', 'z', 'i', 'n', 'g']

In [50]:
print(tuple(message))

('P', 'y', 't', 'h', 'o', 'n', ' ', 'i', 's', ' ', 'a', 'm', 'a', 'z', 'i', 'n', 'g')

# Lists

24.Write a program to print a new list which contains all the first characters of strings present in a list.
     list_states  =[" Madhya Pradesh", "Karnataka", "Chennai", "Goa“, "Delhi"]

In [66]:
list_states =["Florida", "Texas", "California", "Nevada"]
for i in list_states:
    print(i[0])

F
T
C
N

25.Write a program to replace each string with an integer value in a given list of strings. The replacement integer value should be a sum of  Ascci values of each character of the corresponding string.
     list_rivers  =["Ganges", "Godavari", "Brahmaputra", "Narmada", "Yamuna", "Mahanadi", "Kaveri", "Tapti"]

In [67]:
cities = ["San Antonio","Austin","Dallas","San Jose","California"]

new = [] #new list
for i in cities: #iterate through cities
    sum = 0  # sum = 0
    for j in i: #through each letter 
        sum = sum + ord(j)
    new.append(sum)
print(new)

[1050, 628, 593, 723, 1016]

In [60]:
#ord: it provides ascii value of the character
print(ord("A"))

65

In [61]:
print(ord("b"))

98

26.Write a program which prints all duplicated values in a list

In [88]:
numbers = [1,2,3,1,2,4,5,6,7]

hash = []
for i in range(10):
    hash.append(0)
print(hash)

for i in numbers:
    hash[i]+=1
print(hash)

index = 0
for i in hash:
    if i > 1:
        print(index)
    index += 1

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
[0, 2, 2, 1, 1, 1, 1, 1, 0, 0]
1
2

In [93]:
numbers = [2,2,3,3,2]

hash = []
for i in range(5):
    hash.append(0)
print(hash)

for i in numbers:
    hash[i]+=1
print(hash)

index = 0
for i in hash:
    if i > 1:
        print(index)
    index += 1

[0, 0, 0, 0, 0]
[0, 0, 3, 2, 0]
2
3

27.Write a program to print True if the first element or last element is divisible by 4 in the given list.

In [103]:
num = [4,5,6,8]
if ((num[-1])%4 == 0) and ((num[0])%4 == 0):
    print("First and last element divisible by 4")
    
else:
    print("nothing")

First and last element divisible by 4

28.Write a program to print True if the first and last elements are equal and odd numbers in the given list.

In [107]:
num = [5,6,6,7,8,9,5]
if ((num[-1])%4 != 0) and ((num[0])%4 != 0) and (num[-1]==num[0]):
    print("First and last element equal and off number")

First and last element equal and off number

29.Write a program to print True if the sum of the first and last elements  are equal from the given two lists.

In [110]:
list1 = [2,3,4,2]
list2 = [2,5,6,2]

if (list1[-1]==list1[0]) and (list2[-1]==list2[0]):
    print(True)
    
else:
    print(False)

True

 30.Write a program to print the sum of all the elements in the given list.

In [111]:
num = [2,4,5,6,1]
sum = 0
for number in num:
    sum += number
    
print(sum)

18

31.Write a program to sort a list of integer elements

In [116]:
number = [4,5,67,1,22]
number.sort()
print(number)

[1, 4, 5, 22, 67]

32.Write a program to print a new list by doing a left rotate on the given list.
    Ex: input: [4, 5, 6, 7] output: [5, 6, 7, 4]

# Important

In [124]:
import collections
num = [1,4,7,8]
new = collections.deque(num) #deque will pop all the elements in num and it will put that in new
#print(new)
new.rotate(2) #rotate right by 2
print(new)

deque([7, 8, 1, 4])

33.Write a program to find the maximum number from the given list of numbers and replace all the numbers from the list with the maximum number.

In [128]:
num = [10, 66,77, 2,3]
max = 0
for i in num:
    if i > max: #logic to print the maximum number
        max = i
print(max)

i = 0
index = 0
for i in num:
    num[index] = max
    index += 1
print(num)

77
[77, 77, 77, 77, 77]

34.Given two lists x and y, print two new lists as output which includes all the elements of x and y except for the first and last elements.

In [129]:
x = [2,5,6,7,8]
y = [3,5,6,2,3]
print(x[1:-1])
print(y[1:-1])

[5, 6, 7]
[5, 6, 2]

In [131]:
print(x[2:-2]) #stripped two elements from right side and two elements from the left side

[6]

35.Given a list, Write a program which prints all elements which are multiples of 4.

In [134]:
numbers = [4,8,19,10,6,33,23,12,2,98]

for i in numbers:
    if i%4 == 0:
        print("Multiples of 4 are {}".format(i))

Multiples of 4 are 4
Multiples of 4 are 8
Multiples of 4 are 12

# Shallow Copying

36.Given a list   
    colours1 = ["red", "green"] with the help of a new list, 
    modify the list colours1, such that
    colour1 = ["red", "blue" ]

In [135]:
colors = ["red", "green"]
colors1 = colors

In [136]:
colors1[1] = "blue"
print(colors1)

['red', 'blue']

In [137]:
print(colors)

['red', 'blue']

37.Given a list 
    list1 = ['a','b','c','d‘] with the help of 'slice' construct and a new list, make changes in  list1, such that list1=['a','x','c','d']. Verify if the original list is modified

In [139]:
list1 = ['p','q','r','s','t']
list2 = list1[:] #because of the slice operator, we got here whole new list
list2[2] = 'x'
print(list1)

['p', 'q', 'r', 's', 't']

In [140]:
print(list2) #only list2 is modified

['p', 'q', 'x', 's', 't']

38.Given a list, lst1 = ['a','b',['ab','ba']]  with the help of 'slice' construct and a new list, modify lst1 such that 
    lst1=['a', 'b', ['ab', 'd']]

In [141]:
lst1 = ['a','b',['ab','ba']]
lst2 = lst1
lst2[2][1] = "d"
print(lst2)

['a', 'b', ['ab', 'd']]

In [142]:
print(lst1)

['a', 'b', ['ab', 'd']]

# Deep Copying

39.Given a list
    lst1 = ['a','b',['ab','ba']]   
    Use the function ‘deepcopy’ and a new list to make changes in the lst2. Verify if the list is modified

In [147]:
#deepcopy does not change the original list, when changes are made
from copy import deepcopy
lst1 = ['a', 'b',['pq','rs']]
lst2 = deepcopy(lst1)
lst2[0] = 's'
print(lst2)
print(lst1)

['s', 'b', ['pq', 'rs']]
['a', 'b', ['pq', 'rs']]

40.Given a list
    lst1 = ['a','b',['ab','ba']]   
    Use the function ‘copy’ and a new list to make changes in the lst2. Verify if the list is modified

In [148]:
#copy function
from copy import copy
lst1 = ['s','r','t']
lst2 = copy(lst1)
lst2[0] = 'a'
print(lst2)
print(lst1)

['a', 'r', 't']
['s', 'r', 't']

# Difference between copy and deepcopy is, in copy address is copied and deepcopy address is not copied

41.Convert a integer to string

In [149]:
print("Hello how are you?" + " " + str(12))

Hello how are you? 12

# str and eval() function

42.Write a pgm to compare two string using    
     - str() and eval() functions

In [150]:
y = "Sawani Soman"
print("Using repr method")
#repr creates an object on which eval() can operate on
y2 = eval(repr(y)) #it will convert into string
if(y==y2):
    print("Two strings are equal")

Using repr method
Two strings are equal

In [151]:
y = "Sawani Soman"
#eval value cannot operate on str method generated string, y acts as undefined variable
print("Using str method")
y2 = eval(str(y))
if(y==y2):
    print("Two strings are equal")
    
else:
    print("Two strings not equal")

Using str method

SyntaxError: unexpected EOF while parsing (<string>, line 1)

In [153]:
x = 5
print(eval('x+1'))

6

# Dictionaries

In [154]:
#creating a dictionary
dict1 = {'name':'Sawani', 'age':25, 'occupation':'software engineer'}
print(dict1['age'])

25

In [156]:
#adding value in dictionary
dict1['years'] = 2
print(dict1)

{'name': 'Sawani', 'age': 25, 'occupation': 'software engineer', 'years': 2}

In [158]:
#replacing values in dictionary
dict1['years'] = 4
print(dict1)

{'name': 'Sawani', 'age': 25, 'occupation': 'software engineer', 'years': 4}

In [159]:
#rule to follow for dictionary
dict2 = {'name':'Davis', 'age':26, 'name':'sawani'} #the latest key will be printed
print(dict2)

{'name': 'sawani', 'age': 26}

# Important Collections

In [163]:
from collections import OrderedDict
d = OrderedDict([('name','sawani'),('age','25')])
print(d.items())

odict_items([('name', 'sawani'), ('age', '25')])

# Split and Join

In [168]:
#Split
string = "I love python 3"
print(string)
print(string.split())
print('-'.join(string))

I love python 3
['I', 'love', 'python', '3']
I- -l-o-v-e- -p-y-t-h-o-n- -3

In [169]:
#Join
string = ["I","lOVE","CISCO"]
print('$'.join(string))

I$lOVE$CISCO

# with statement

In [170]:
#Advantage of with statement: with statement automatically takes care of closing the file
with open('output.txt','w') as s:
    s.write("Python3.6 programming")

# Enumerate function
It prints index values with elements

In [172]:
seasons = ['spring','summer','Fall','Winter']
print(enumerate(seasons))

<enumerate object at 0x10ad143a8>

# Important

In [174]:
seasons = ['spring','summer','Fall','Winter']
print(list(enumerate(seasons)))

[(0, 'spring'), (1, 'summer'), (2, 'Fall'), (3, 'Winter')]

In [175]:
seasons = ['spring','summer','Fall','Winter']
print(list(enumerate(seasons, start=2)))

[(2, 'spring'), (3, 'summer'), (4, 'Fall'), (5, 'Winter')]

In [176]:
def enumerate(sequence, start=0):
    n = start
    for e in sequence:
        yield n,e
        n += 1

In [177]:
enumerate("Sawani")

In [178]:
for i,v in enumerate(["Sawani","Omkar","Davis"]):
    print(i,v)

0 Sawani
1 Omkar
2 Davis

# zip function

In [14]:
lst1 = ['S','O','A']
lst2 = [20,30,40]
lst3 = [6,7,8,9]
result = zip(lst1, lst2, lst3) #EXPECTED O/P ---> it does not concatenate
print(list(result))

[('S', 20, 6), ('O', 30, 7), ('A', 40, 8)]

In [183]:
print(zip(lst1,lst2))

<zip object at 0x10ad04788>

# HTML table creation

In [185]:
fields = ["Name","Age","Company","Salary"]
print("<html>")
print("<body>")
print("<table>")
def th():
    print("<tr><td>Table Discription<td></tr>")
    print("<tr>")

print("<table>")
print("</body>")
print("</html>")

<html>
<body>
<table>
<table>
</body>
</html>

https://docs.python.org/2/faq/programming.html

In [186]:
str = "Hello World"
print(str)

Hello World

In [1]:
a = []
a.insert(0,'Sawani')
print(a)

['Sawani']

# Strings

In [2]:
#last three copies of the string
a ="abcdef"
print(a[-3:])

def

In [3]:
#get last half and then first half of the string printed
str = "abcdef"
str[int(len(str)/2):]

'def'

In [8]:
str[int(len(str)/2):]

'def'

In [9]:
str[:int(len(str)/2)]

'abc'

50.Write a program to count the number of occurrences of each character in a given string

In [15]:
a = "abcdeffgghhiiiiiii"
x = 0*200  #200 slots are taken
for i in a:
    x[ord(i)] = x[ord(i)] + 1
    
for index, i in enumerate(x):
    if (x>0):
        print("%c occured %d"%(chr(index),i))

TypeError: 'int' object is not subscriptable

# PEP8

1. Add comments before if statements
2. Add comment to the line, to explain it, but small one
3. While writing comments start with Capital letter
4. Tabs or spaces? be consistant with one and use 4 spaces, spaces are preferred
5. Maximum line of characters: 79
6. Imports:   
Import os  
Import sys  
Not recommended to write Import os, sys
7. Use either "" or '' to define a string, be consistant with one and use that entierly, prefer: ""

# Multiline comment

In [18]:
'''this is multiline comment'''
a =1
b = 2
a+b

3

In [5]:
y = "Sawani Soman"

In [6]:
repr(y)

"'Sawani Soman'"

In [7]:
str(y)

'Sawani Soman'

In [8]:
x = 6

In [9]:
eval('x *2')

12

In [10]:
eval("x + 2")

8

In [11]:
print("x + 2")

x + 2

In [13]:
y = "Sawani Soman"
y2 = str(y)
if (y == y2):
    print(True)

True

In [2]:
class email(object):
    def send(self, subject, message):
        self.sub = subject
        self.message = message
        
class staging(email):
       super()

NameError: name 'self' is not defined

In [15]:
import re
a = "4"
#assert: it checks if condition is true
assert(re.search("4", a))

In [16]:
assert(re.search("7", a))

AssertionError:

In [3]:
winnerName = "Sawani"
assert(re.search("Sawani", winnerName))

In [6]:
# ^ starting with
# .* anything, even end, '.' represents single character or digit 
# $ end 
assert(re.search("^.*$", winnerName))

In [7]:
# i$ ending with i, $ is used to end
assert(re.search("^S.*i$", winnerName))

In [9]:
winnerName = "Sbwani"
# . represents anything single char
assert(re.search("^S.wani$", winnerName))

In [10]:
winnerName = " Sawani"
assert(re.search("^ Sawani.*", winnerName))

In [11]:
#\s for one space
assert(re.search("^\sSawani.*", winnerName))

In [14]:
winnerName = "         Sawani"
#\s+ is one or more space
#assert(re.search("^\sSawani.*", winnerName)) #assertion error
assert(re.search("^\s+Sawani.*", winnerName))

In [15]:
winnerName = "         Sawani    "
assert(re.search("^\s+Sawani.*", winnerName))

In [17]:
assert(re.search("^\s+Sawani\s+$", winnerName))

In [1]:
import re

In [5]:
# Writing $ to specifiy end is good practice
# | it stands for or
winnerName = "         Bawani    "
assert(re.search("^\s+[S|b|B]awani.*$", winnerName))

# Important

In [2]:
# it is always better to have \s+
import re
winnerName = "   Sawani is having 3456 chains   "
assert(re.search("^\s+Sawani\s+is\s+having\s+3.*$", winnerName))

In [4]:
assert(re.search("^\s+Sawani\s+is\s+having\s+3[0-9][0-9][0-9].*$", winnerName))

In [11]:
#assert(re.search("^\s+Sawani\s+is\s+having\s+3([0-9]*3).*$", winnerName))

In [21]:
#{1,3}: represents digit length can be 1 to 3
# Due to .* it is not giving error
assert(re.search("^\s+Sawani\s+is\s+having\s+\d{1,3}.*$", winnerName))

In [22]:
assert(re.search("^\s+Sawani\s+is\s+having\s+\d{1,4}\s+chains\s+$", winnerName))

In [24]:
nature = "Sawani has ip add 123.45.61.2"
assert(re.search("^Sawani\s+has\s+ip\s+add\s+\d{1,3}\\.\d{1,3}\\.\d{1,3}\\.\d{1,3}$", nature))

In [4]:
#IPV6
import re
input1 = "31:1:1::1/64"
assert(re.search("^(\d{1,3}:){3}:\d{1,3}.*$", input1))

In [25]:
nature = "Sawani has ip add 123.45.61.2"
assert(re.search("^Sawani\s+has\s+ip\s+add\s+(\d{1,3}\\.){3}\d{1,3}$", nature))

# Threading:
https://www.youtube.com/watch?v=2ZwuKeL0aHs

In [2]:
import threading
import time



def sleeper(n, name):
    print('Hi, I am {}. Going to sleep for 5 seconds \n'.format(name))
    time.sleep(n)
    print('{} has woken up from sleep \n'.format(name))
    
    
    
    
t = threading.Thread(target = sleeper, name = 'thread1', args =(5, 'thread1') )
 
 
t.start()
 
 
 
t.join() # Used to lock the main program from running
 
 
print('hello')
print('what is going on')

Hi, I am thread1. Going to sleep for 5 seconds

thread1 has woken up from sleep

hello
what is going on